<div id="<%= dom_id message %>" class="flex flex-col p-4 rounded-lg shadow-lg my-2 space-y-2 bg-yellow-100">
  <div>
    <b>[<%= message.created_at %>] <%= message.user.name %>:</b>
  </div>
  <div>
    <p><%= message.body %></p>
  </div>
</div>