<div id="<%= dom_id chat_room %>" class="flex justify-between p-4 bg-white rounded-lg shadow-lg my-2">
  <div>
    <h3><%= chat_room.name %></h3>
  </div>
  <div>
    <%= link_to "View", chat_room_path(chat_room) %>
    <a href="#">Join</a>
    <a href="#">Leave</a>
  </div>
</div>