<div id="<%= dom_id chat_room %>" class="flex justify-between p-4 bg-white rounded-lg shadow-lg my-2">
  <div>
    <h3><%= chat_room.name %></h3>
  </div>
  <div>
    <a href="#">View</a>
    <a href="#">Join</a>
    <a href="#">Leave</a>
  </div>
</div>